# Created by http://gitignore.io

### Linux ###
.*
!.gitignore
!.git*
*~


#!! ERROR: js is undefined. Use list command to see defined gitignore types !!#

### SublimeText ###
# SublimeText project files
*.sublime-workspace

### vim ###
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


# Created by http://gitignore.io

### Node ###
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
